*.swp
venv/
*.pyc
.idea/
*.params
*-ubyte
*.mat
*cache*
temp*
params/
data/
results/
exp/*/
*.bmp
*.log
*.zip
*.out
*.blg
*.bbl
*.out
*.aux
*.pdf
*~
paper/.*
*.dvi
*.fig
latexsource/
*.data
.vscode/
TODO.md
~*
*.brf
